<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>
        <h1>Login</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="d-flex flex-column"
      >
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Email"
            required
            formControlName="email"
          />
        </mat-form-field>
        <mat-form-field class="w-100">
          <input
            matInput
            placeholder="Password"
            required
            formControlName="password"
          />

        </mat-form-field>
        <button class="btn_submit mt-2" class="w-100" type="submit">Login</button>

      </form>
    </mat-card-content>
  </mat-card>
</div>
