<div class="main_container">
  <div class="login-container">
    <form class="login-form">
      <h2 class="mb-4">Iniciar Sesión</h2>
      <div class="form-group">
        <label for="username">Usuario</label>
        <input type="text" class="form-control" id="username" placeholder="Ingrese su usuario">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña">
      </div>
      <a class="btn btn-primary btn-block mt-4"
      routerLink="/dashboard"
      >Iniciar Sesión</a>
    </form>
  </div>
</div>

