<div class="form_main_container">
  <h1 class="fs-3 text-center mt-4">
    @if(isEditing) {
      Editar Estudiante
    } @else {
      Registrar Estudiante
    }
  </h1>

  <div class="m-auto text-center">
    {{ teacherForm.value | json }}
  </div>

  <form action="" [formGroup]="teacherForm" class="row g-3">
    <mat-form-field class="col-12">
      <mat-label>Nombre</mat-label>
      <input matInput type="text" formControlName="nombre" />
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Apellido</mat-label>
      <input matInput type="text" formControlName="apellido" />
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Edad</mat-label>
      <input matInput type="number"  formControlName="edad" />
    </mat-form-field>

    <mat-form-field class="col-6 pe-2">
      <mat-label>Especialidad</mat-label>
      <mat-select formControlName="especialidad">
        <mat-option value="algebra">Algebra</mat-option>
        <mat-option value="fisica">Fisica</mat-option>
        <mat-option value="quimica">Quimica</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="col-12 d-flex justify-content-center">
      <button mat-raised-button color="primary" (click)="saveStudent()">
        @if(isEditing) {
          Editar
        } @else {
          Registrar
        }
        Profesor
      </button>
    </div>
  </form>
</div>
